html {
  scroll-behavior: smooth;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --container-width: 1170px;

  /* Fonts */
  --font-main: "Roboto", sans-serif;
  --font-titles: "Lato", sans-serif;
  --font-buttons-thirdary: "Poppins", sans-serif;

  /* Colors */
  --color-primary: #3d37f1;
  --color-secondary-orange: #ff992e;
  --color-dark-blue: #0a315a;

  --color-num-01: #3d37f1;
  --color-num-02: #9997df;
  --color-num-03: #ffba3f;
  --color-num-04: #e66e6e;
  --color-num-05: #66659f;
  --color-num-06: #f17637;
  --color-num-07: #37f1be;
  --color-num-08: #f137e5;
  --color-num-09: #f13d37;

  /* Transparent colors for pictures */

  /* --color-dark-blue-transparent: #131b7c;
  --color-orange-transparent: #f36f21;
  --color-light-blue-transparent: #a5a2f6; */

  /* Font-colors */
  --color-text-content: #747474;
  --color-text-title: #5a5454;
  --color-text-dark_grey: #534d4d;
  --color-text-light_gray: #ffffff3d;
  --color-text-not_selected: #969ca2;
  --color-text-dark_blue: #4b647e;
  --color-text-highlight: #8f8bff;

  /* Gradients */
  --gradient-1st_set-1: transparent
    linear-gradient(180deg, #fbba77 0%, #dfa871 100%) 0% 0% no-repeat
    padding-box;
  --gradient-1st_set-2: transparent
    linear-gradient(180deg, #41eae3 0%, #2293b7 100%) 0% 0% no-repeat
    padding-box;
  --gradient-1st_set-3: transparent
    linear-gradient(180deg, #69529f 0%, #463864 100%) 0% 0% no-repeat
    padding-box;
  --gradient-1st_set-4: transparent
    linear-gradient(180deg, #4386d2 0%, #0962c5 100%) 0% 0% no-repeat
    padding-box;
  --gradient-1st_set-5: transparent
    linear-gradient(180deg, #a5a2f6 0%, #564fd6 100%) 0% 0% no-repeat
    padding-box;
  --gradient-1st_set-6: transparent
    linear-gradient(180deg, #ff8088 0%, #984141 100%) 0% 0% no-repeat
    padding-box;

  /* --gradient-2nd_set-1: transparent
    linear-gradient(143deg, #af94fd 0%, #6651f3 100%) 0% 0% no-repeat
    padding-box;
  --gradient-2nd_set-2: transparent
    linear-gradient(143deg, #ff95a5 0%, #ff62a3 100%) 0% 0% no-repeat
    padding-box;
  --gradient-2nd_set-3: transparent
    linear-gradient(143deg, #fbc9a4 0%, #ff884a 100%) 0% 0% no-repeat
    padding-box; */

  --color-white: #ffffff;
}

body {
  font-family: var(--font-main);
  position: relative;
}

a {
  text-decoration: none;
}

/* HEADER */

header {
  z-index: 2;
}

/* POPRAWIĆ SVG, ŻEBY NIE WYSTAWAŁ - DA SIĘ POPRAWIĆ KODEM? ŻEBY UCINAŁO */
header::after {
  position: absolute;
  content: "";
  display: block;
  background-image: url(../images/Header_background.svg);
  opacity: 0.95;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  width: calc(1245px * 1.2);
  height: calc(350px * 1.2);
  top: -30px;
  right: -200px;
  z-index: -1;
  box-shadow: 0px 40px 40px #c5c3f926;
}

.container {
  width: var(--container-width);
  margin: 0 auto;
}

.container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 186px;
  font-family: var(--font-titles);
  width: 1370px;
}

.header__right-menu {
  display: flex;
  align-items: center;
}

.right-menu__elements {
  display: flex;
  color: var(--color-white);
}

.header__logo {
  margin-left: 100px;
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-primary);
  font-family: var(--font-titles);
}

.header__logo > span {
  font-weight: 300;
  color: var(--color-text-dark_blue);
}

.right-menu__elements li {
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 20px;
  font-family: var(--font-titles);
  font-weight: 500;
  /* color:var(--color-white); */
}

.btn {
  text-transform: uppercase;
  padding: 24px 72px;
  border: none;
  border-radius: 36px;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-weight: bold;
}

.btn-secondary {
  background-color: var(--color-secondary-orange);
  /* box-shadow: 0px 10px 100px var(--color-secondary-orange); */
  box-shadow: 0px 32px 20px -28px var(--color-secondary-orange);
  z-index: 0;
  font-size: 1.25rem;
  font-weight: 500;
  position: relative;
}

/* It was just playing with ::after */
/* .right-menu__button {
  position: relative;
}

.right-menu__button::after {
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  width: 50px;
  height: 20px;
  background-color: #3d37f1;
  bottom: -2px;
  left: calc(50% - 25px);
} */

/* HERO */

.container__hero {
  margin-top: 187px;
  display: flex;
  justify-content: space-between;
}

h1 {
  font-family: var(--font-titles);
  font-size: 4.875rem;
  color: var(--color-text-dark_grey);
  line-height: 6.8125rem;
  font-weight: bold;
  margin-bottom: 27px;
}

h3 {
  font-weight: normal;
  font-size: 1.375rem;
  line-height: 32px;
  color: var(--color-text-dark_grey);
  margin-bottom: 70px;
}

.btn-hero {
  text-transform: capitalize;
  font-family: var(--font-buttons-thirdary);
  font-weight: 300;
  font-size: 1.4375rem;
  border-radius: 42px;
  padding: 23px 60px;
  display: flex;
  box-shadow: 0px 40px 40px -32px var(--color-primary);
}

.btn-hero::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../images/waving-hand.svg);
  margin-right: 20px;
}

.hero__left-column {
  max-width: 51.2%;
  position: relative;
}

.hero__left-column::after {
  content: "";
  display: block;
  position: absolute;
  width: 133%;
  height: 124%;
  background-image: url(../images/undraw_pair_programming_njlp.svg);
  background-size: contain;
  top: 0;
  right: -144%;
}

/* SERVICES */

#services {
  background-color: #ededee;
}

.container__services {
  margin-top: 380px;
  padding-top: 87px;
}

.services__top-titles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h4,
h2,
.top-titles__description {
  text-align: center;
  font-family: var(--font-titles);
}

h4 {
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: bold;
  margin-bottom: 17px;
  color: var(--color-primary);
}

h2 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: normal;
  margin-bottom: 21px;
  color: var(--color-text-title);
}

.top-titles__description {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: normal;
  padding-bottom: 67px;
  font-family: var(--font-main);
  color: var(--color-text-content);
  max-width: 50%;
}

/* BLOCKS */

.services__blocks {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 133px;
}

.blocks__single-block {
  width: 31%;
  background-color: lightgreen;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-block__image {
  margin-top: 88px;
  margin-bottom: 57px;
  max-width: 100px;
  max-height: 100px;
}

.single-block__title {
  font-family: var(--font-titles);
  font-size: 1.375rem;
  color: white;
  margin-bottom: 13px;
  font-weight: 300;
}

.single-block__description {
  color: white;
  font-family: var(--font-main);
  font-size: 1rem;
  line-height: 1.625rem;
  text-align: center;
  font-weight: 300;
  margin: 0 22px;
  margin-bottom: 21px;
}

.btn-single-block {
  font-family: var(--font-titles);
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 25px;
  padding: 14px 30px;
  text-transform: capitalize;
  font-weight: 400;
  margin-bottom: 48px;
  transition: 0.3s;
}

.btn-single-block:hover {
  background-color: white;
  color: var(--color-text-dark_blue);
}

.blocks__block_1 {
  background: var(--gradient-1st_set-1);
  transition: 0.3s;
}

.blocks__block_1:hover {
  box-shadow: 0px 10px 60px -10px var(--color-secondary-orange);
}

.blocks__block_2 {
  background: var(--gradient-1st_set-2);
  transition: 0.3s;
}

.blocks__block_2:hover {
  box-shadow: 0px 10px 60px -10px #2293b7;
}

.blocks__block_3 {
  background: var(--gradient-1st_set-3);
  transition: 0.3s;
}

.blocks__block_3:hover {
  box-shadow: 0px 10px 60px -10px #463864;
}

.blocks__block_4 {
  background: var(--gradient-1st_set-4);
  transition: 0.3s;
}

.blocks__block_4:hover {
  box-shadow: 0px 10px 60px -10px #0962c5;
}

.blocks__block_5 {
  background: var(--gradient-1st_set-5);
  transition: 0.3s;
}

.blocks__block_5:hover {
  box-shadow: 0px 10px 60px -10px #564fd6;
}

.blocks__block_6 {
  background: var(--gradient-1st_set-6);
  transition: 0.3s;
}

.blocks__block_6:hover {
  box-shadow: 0px 10px 60px -10px #984141;
}
