h5 {
  font-size: 1.375rem;
  font-family: $font-titles;
  font-weight: bold;
}

.container__about-me {
  margin: 165px auto;
  display: flex;

  .about-me__left-column {
    width: 50%;
    height: 456px;
    position: relative;
    .left-column__image {
      position: absolute;
      width: 120%;
      aspect-ratio: 248/161;
      left: -20%;
    }
  }

  .about-me__right-column {
    width: 60%;
    padding-left: 124px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .right-column__titles {
      margin-bottom: 40px;
      .titles__description {
        font-size: 1.125rem;
        line-height: 1.75rem;
        color: $color-text-dark_grey;
        margin-top: 20px;
        max-width: 500px;
      }
    }

    .right-column__player {
      display: flex;
      align-items: center;
      gap: 20px;

      .player__circle {
        cursor: pointer;
        width: 50px;
        height: 50px;
        background-color: $color-primary;
        border-radius: 50%;

        @include display_center_x_y;

        .circle__triangle {
          width: 0;
          height: 0;
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
          border-left: 14px solid white;
        }
      }

      .player__btn {
        display: none;

        &:checked ~ .player__real__button {
          .player__circle {
            .circle__triangle {
              height: unset;
              width: unset;
              height: 38%;
              width: 38%;
              background-color: white;
              border: 0;
            }
          }
        }
      }

      .player__timeline {
        height: 5px;
        width: 100px;
        background-color: $colors-medium-grey;
        opacity: 0.5;
      }

      .player__description {
        font-size: 1.125rem;
        font-weight: 100;
        color: $colors-medium-grey;
      }
    }
  }

  @include small_desktop {
    margin: 100px auto;
    .about-me__left-column {
      height: unset;
      .left-column__image {
        left: 0;
        position: static;
      }
    }

    .about-me__right-column {
      .right-column__titles {
        .titles__description {
        }
      }

      .right-column__player {
        .player__circle {
          .circle__triangle {
          }
        }

        .player__timeline {
        }

        .player__description {
        }
      }
    }
  }

  @include smallest_desktop {
    .about-me__left-column {
      .left-column__image {
        left: 0;
      }
    }
  }

  @include tablet {
    margin: 50px auto;
    flex-direction: column;
    align-items: center;
    .about-me__left-column {
      margin-bottom: 60px;
      .left-column__image {
        left: 0;
      }
    }

    .about-me__right-column {
      padding: unset;
      width: 100%;
      .right-column__titles {
        .titles__description {
        }
      }

      .right-column__player {
        gap: 10px;
        .player__circle {
          height: 45px;
          width: 45px;
          .circle__triangle {
          }
        }

        .player__timeline {
          width: 20%;
        }

        .player__description {
          font-size: 0.8rem;
        }
      }
    }
  }
}
