/* HEADER */

header {
  z-index: 2;
  position: relative;

  // .header__background-image {
  //   position: absolute;
  //   height: 500px;
  //   width: 500px;
  //   background-color: rebeccapurple;
  //   top: 0;
  //   right: 0;
  // }

  /* POPRAWIĆ SVG, ŻEBY NIE WYSTAWAŁ - DA SIĘ POPRAWIĆ KODEM? ŻEBY UCINAŁO */
  &::after {
    position: absolute;
    content: "";
    display: block;
    background-image: url(../images/Header-background-cropped.svg);
    opacity: 0.95;

    background-repeat: no-repeat;
    background-position: top right;

    background-size: contain;

    width: 70%;
    aspect-ratio: 487/137;

    top: 0px;
    right: 0px;

    z-index: -1;
    box-shadow: 0px 40px 40px #c5c3f926;
  }

  .container__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 186px;
    font-family: $font-titles;

    // Initial styles for hamburger objects
    .header__checkbox {
      display: none;
    }

    .header__icon {
      display: inline-block;
      float: right;
      padding: 28px 20px;
      position: relative;
      user-select: none;
    }

    .header__navicon {
      background: $color-primary;
      display: block;
      height: 2px;
      position: relative;
      transition: background 0.2s ease-out;
      width: 18px;
      display: none;

      &::before,
      &::after {
        background: $color-primary;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        transition: all 0.2s ease-out;
        width: 100%;
      }
    }

    .header__navicon::before {
      top: 5px;
    }

    .header__navicon::after {
      top: -5px;
    }

    // Hamburger click & animation

    .header__checkbox:checked ~ .header__icon {
      .header__navicon {
        background-color: transparent;

        &::before {
          transform: rotate(-45deg);
          top: 0;
        }

        &::after {
          transform: rotate(45deg);
          top: 0;
        }
      }
    }

    //

    .header__logo {
      // margin-left: 100px;
      font-size: 2rem;
      font-weight: bold;
      color: $color-primary;
      font-family: $font-titles;
    }

    .header__logo > span {
      font-weight: 300;
      color: $color-text-dark_blue;
    }

    .header__right-menu {
      display: flex;
      align-items: center;

      .right-menu__elements {
        display: flex;
        color: $color-white;

        li {
          text-transform: uppercase;
          font-size: 1.25rem;
          margin: 20px;
          font-family: $font-titles;
          font-weight: 500;
        }
      }
    }
  }

  @include small_desktop {
    &::after {
      width: 80%;
    }
    .container__header {
      .header__logo {
      }

      .header__right-menu {
        .right-menu__elements {
          li {
            font-size: 1rem;
          }
        }
      }
    }
  }

  @include smallest_desktop {
    &::after {
      display: none;
    }
    .container__header {
      position: relative;
      position: relative;
      .header__logo {
      }

      .header__navicon {
        display: block;
      }

      .header__checkbox:checked ~ .header__right-menu {
        transition: 0.5s;
        display: block;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        position: absolute;
        right: 0;
        top: 120px;
        // position: relative;

        &::after {
          position: absolute;
          content: "";
          display: block;
          background-color: aqua;
          height: 120%;
          width: 100%;
          opacity: 0.5;
          z-index: -2;
        }

        .right-menu__elements {
          display: flex;
          flex-direction: column;
          text-align: right;
          margin-top: 10px;
        }
        li {
          color: $color-primary;
        }
      }

      .header__right-menu {
        display: none;
        .right-menu__elements {
          li {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
