/* HEADER */

header {
  z-index: 2;
  position: relative;

  // .header__background-image {
  //   position: absolute;
  //   height: 500px;
  //   width: 500px;
  //   background-color: rebeccapurple;
  //   top: 0;
  //   right: 0;
  // }

  /* POPRAWIĆ SVG, ŻEBY NIE WYSTAWAŁ - DA SIĘ POPRAWIĆ KODEM? ŻEBY UCINAŁO */
  &::after {
    position: absolute;
    content: "";
    display: block;
    background-image: url(../images/Header-background-cropped.svg);
    opacity: 0.95;

    background-repeat: no-repeat;
    background-position: top right;

    background-size: contain;

    width: 75%;
    aspect-ratio: 487/137;

    top: 0px;
    right: 0px;

    z-index: -1;
    box-shadow: 0px 40px 40px #c5c3f926;
  }

  .container__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 186px;
    font-family: $font-titles;

    // AND STYLED WITH THAT
    .header__checkbox {
      display: none;
    }

    .header__icon {
      display: none;
    }

    .header__logo {
      // margin-left: 100px;
      font-size: 2rem;
      font-weight: bold;
      color: $color-primary;
      font-family: $font-titles;
    }

    .header__logo > span {
      font-weight: 300;
      color: $color-text-dark_blue;
    }

    .header__right-menu {
      display: flex;
      align-items: center;

      .right-menu__elements {
        display: flex;
        color: $color-white;

        li {
          text-transform: uppercase;
          font-size: 1.25rem;
          margin: 20px;
          font-family: $font-titles;
          font-weight: 500;
        }
      }
    }
  }

  @include small_desktop {
    &::after {
      width: 80%;
    }
    .container__header {
      .header__logo {
      }

      .header__right-menu {
        .right-menu__elements {
          li {
            font-size: 1rem;
          }
        }
      }
    }
  }

  @include smallest_desktop {
    &::after {
      width: 65%;
    }
    .container__header {
      .header__logo {
      }

      .header__right-menu {
        .right-menu__elements {
          li {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
