h3 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #969ca2;
  font-family: $font-titles;
}

#our-portfolio {
  background-color: #f8f8f8;
  padding-top: 150px;
}

.container__our-portfolio {
  display: flex;
  margin-bottom: 125px;
  padding-left: 20px;
  padding-right: 20px;

  .our-portfolio__left-column {
    width: 40%;
    .left-column__title-section {
      margin-bottom: 94px;

      .title-section__subtitle {
        font-size: 1.375rem;
        font-weight: 300;
        margin-top: 12px;
      }
    }
    .left-column__menu-list {
      width: 60%;
      .menu-list__menu-element {
        cursor: pointer;
        font-size: 1.375rem;
        font-weight: medium;
        color: $colors-medium-grey;
        opacity: 0.7;
        padding: 6px 0;
        margin-bottom: 44px;
        border-bottom: 2px solid rgba(0, 0, 0, 0);

        &:hover {
          color: $color-primary;
          border-bottom: 2px solid $color-primary;
        }
      }
    }
  }

  .our-portfolio__right-column {
    width: 75%;
    @include diplay_column;
    align-items: center;
    .right-column__images {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      .images__image-box {
        cursor: pointer;
        width: calc(50% - 15px);
        padding: 10px;
        box-shadow: 1px 0px 28px -16px rgba(66, 68, 90, 1);
        transition: 0.3s;
        @include display_center_x_y;

        &:hover {
          box-shadow: 1px 0px 41px -5px $color-primary;
          transition: 0.3s;
        }

        .image-box__image {
          object-fit: cover;
          width: 100%;
          height: auto;
        }
      }
    }

    .right-column__bottom-navi {
      display: flex;
      column-gap: 10px;
      margin-top: 50px;
      .bottom-navi__box_1 {
        @include unchecked_dot;
      }

      .bottom-navi__box_2 {
        @include checked_dot;
      }

      .bottom-navi__box_3 {
        @include unchecked_dot;
      }
    }
  }

  @include smallest_desktop {
    margin-top: 100px;
    .our-portfolio__left-column {
      .left-column__title-section {
        margin-bottom: 50px;
        h3 {
          font-size: 1.8rem;
        }

        .title-section__subtitle {
          font-size: 1.1rem;
        }
      }

      .left-column__menu-list {
        width: 100%;
        .menu-list__menu-element {
          font-size: 1rem;
          margin-bottom: 22px;
        }
      }
    }

    .our-portfolio__right-column {
      margin-left: 20px;
    }
  }

  @include mobile {
    flex-direction: row;
    flex-wrap: wrap;
    .our-portfolio__left-column {
      width: 100%;
      .left-column__title-section {
        margin-bottom: 30px;
      }

      .left-column__menu-list {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 20px;
        margin-bottom: 20px;
        margin-top: unset;
        .menu-list__menu-element {
          width: unset;
          display: block;
          margin: unset;
          margin-bottom: 10px;
          border-bottom: 1px solid $colors-medium-grey;
          opacity: 0.5;

          &:hover {
            opacity: 1;
            border-bottom: 1px solid $color-primary;
          }
        }
      }
    }

    .our-portfolio__right-column {
      margin-left: unset;
      width: 100%;
      .right-column__images {
        .images__image-box {
          width: 100%;
        }
      }
    }
  }
}
